{
	"compilerOptions": {
		"target": "ES2022",
		"module": "NodeNext",
		"moduleResolution": "NodeNext",
		"declaration": true,
		"declarationMap": true,
		"sourceMap": true,
		"strict": true,
		"esModuleInterop": true,
		"skipLibCheck": true,
		"forceConsistentCasingInFileNames": true,
		"experimentalDecorators": true,
		"emitDecoratorMetadata": false,
		"resolveJsonModule": true,
		"outDir": "./{{ plugin_uuid }}.sdPlugin/bin",
		"rootDir": "./src"
	},
	"include": ["src/**/*.ts"],
	"exclude": ["node_modules", "**/*.test.ts"]
}
